.about {
  display: inline-block;
  padding-block: 1.5rem;
  line-height: 1.5rem;
  font-size: 13px;
}

.about-roles > p {
  margin-block: -1.2rem;
}

.about-roles > p > span {
  font-size: 10px;
  padding-inline: 0.2rem;
}

.about-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block-start: 3rem;
  text-align: center;
  justify-content: center;
}

.button {
  background: rgba(243, 148, 120, 0.3);
  padding: 1em 3em;
  border-radius: 1rem;
  display: inline-block;
  font-size: 16px;
  z-index: 1;
  transition: transform ease 0.2s;
  white-space: nowrap;
  cursor: none;
}

.button:hover {
  transform: translate(0, -3px);
  transition: transform ease 0.2s;
}

.contact-button {
  padding: 1em 3em;
  background: rgba(235, 28, 210, 0.3);
  border-radius: 1rem;
  display: inline-block;
  font-size: 16px;
  z-index: 1;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  white-space: nowrap;
  cursor: none;
}

.contact-button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px rgba(235, 28, 210, 0.7);
}

a {
  color: #bcbcbc;
  text-decoration: none;
}

.about-scroll {
  display: block;
  margin-block: 1.4rem;
  text-align: left;
  animation: scroll-start 2s ease infinite;
}

@keyframes scroll-start {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-0.2rem);
  }

  100% {
    transform: translateY(0);
  }
}
