.certi-blocks {
  display: grid;
  gap: 1rem;
  text-align: left;
}

.certi-blocks .block-1 {
  padding-block: 10px;
}

.block-1 .block-title {
  display: grid;
  grid-template-columns: 1fr auto;
}

.bold-achi-heading {
  font-weight: 600 !important;
}

.block-title > span {
  font-size: 0.7rem;
  margin: 0 10px;
  font-weight: 300 !important;
}

.achi-content {
  display: grid;
  grid-template-columns: 0.9fr auto;
}
.achi-sub-content {
  margin-left: 2rem;
  margin-block: 10px;
}

.achi-content > img {
  align-self: center;
  margin-right: 0 !important;
}

.achi-sub-content span {
  font-size: 1rem;
  margin: 5px 5px !important;
}

/* colors */

.orange {
  background-color: #ffd0c2;
}

.yellow {
  background-color: #fff6de;
}

.green {
  background-color: #e1eff2;
}

.purple {
  background-color: #ffd4fa;
}

.grey {
  background-color: #f2e1ef;
}

.blue {
  background-color: #c2deff;
}
