.certi-blocks {
  display: grid;
  gap: 1rem;
  text-align: left;
}

.certi-blocks .block-1 {
  padding-block: 10px;
}

.block-1 .block-title {
  display: grid;
  grid-template-columns: 1fr auto;
}

#cert-compi-title {
  margin-bottom: 2rem;
  justify-self: center;
}

.bold-achi-heading {
  font-size: 0.9rem;
}

.block-title > span {
  font-size: 0.7rem;
  margin: 0 10px;
  font-weight: 300 !important;
}

.achi-content {
  display: grid;
  grid-template-columns: 0.9fr auto;
}
.achi-sub-content {
  margin-left: 0.3rem;
  margin-block: 10px;
}

.achi-content > img {
  align-self: center;
  margin-right: 0 !important;
}

.achi-sub-content span {
  font-size: 0.85rem;
  margin: 5px 5px !important;
}

/* colors */

.orange {
  background: rgba(255, 208, 194, 0.1);
}

.yellow {
  background: rgba(255, 246, 222, 0.1);
}

.green {
  background: rgba(225, 239, 242, 0.1);
}

.purple {
  background: rgba(255, 213, 250, 0.1);
}

.grey {
  background: rgba(242, 225, 239, 0.1);
}

.blue {
  background: rgba(194, 222, 255, 0.1);
}

.side-block-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  transform: rotate(-90deg);
}
.rotated {
  transform: rotate(180deg);
}

.side-block {
  display: none;
}
