.compi-blocks {
  display: grid;
  gap: 1rem;
  text-align: left;
}

.compi-blocks .block-1 .achi-content .achi-sub-content {
  margin-left: 0rem !important;
}

.compi-blocks span {
  margin-inline: 0px !important;
}

.side-parent {
  display: none;
}
