.experience-hero {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 3rem; */
}

.block-color {
  background-color: #fce2f9;
}

.work-blocks {
  display: grid;
  gap: 1rem;
  text-align: left;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-block: 3rem;
}

.block-1 {
  padding: 1rem;
  line-height: 1.4rem;
  border-radius: 15px;
}
/* 
.end-block {
  max-height: 13.5rem;
} */

.block-title {
  font-size: 15px;
  font-weight: var(--bold-subheading);
}

.block-sub-title {
  font-size: 14px;
  font-weight: 300;
  padding-top: 0.3rem;
}

.block-1 span {
  font-size: 12px;
  display: block;
  margin-block: 1rem;
}

.work-badges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.badge-1 {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  min-width: 109px;
  height: 80px;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.work-badges .badge-1:hover {
  transform: translate(0, -3px);
  /* box-shadow: 0 20px 80px -10px #eb1cd2; */
}

.grey-block-color {
  background-color: #f2e1ef;
}

#grey-block {
  display: none;
}

#grey-block > p {
  font-size: 12px;
  font-weight: 300;
}
/* small mobile */
@media screen and (max-width: 375px) {
  .work-badges {
    grid-template-rows: 1fr 1fr 1fr !important;
    grid-template-columns: none !important;
  }
  .badge-1 {
    min-width: 100%;
    height: 65px;
  }
}
