.footer-div {
  display: flex;
  flex-wrap: wrap;
  background: rgba(96, 96, 96, 0.1);
  border-radius: 15px;
}
.sub-footer-div {
  width: max(100% - 5rem, 17.5rem);
  margin-inline: 2.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: left;
  padding-block: 2rem;
  letter-spacing: 0.04em;
}

.footer-details {
  display: flex;
  flex-direction: column;
  margin-block: 4rem;
  margin-bottom: 3.5rem !important;
}

.details-2 {
  margin-top: 40px;
}
.detail-heading {
  font-size: 16.8px;
  font-weight: 530;
}

.detail-content {
  display: flex;
  flex-direction: column;
  font-size: 13.8px;
  font-weight: 300;
}

.margin {
  margin-block: 1rem;
}

.span-left {
  margin-left: 0.1rem;
}

.footer-end {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding-block-start: 1rem;
  font-weight: 300;
  border-top: 1px solid #505050;
}

.footer-scroll > a > svg {
  margin-block-start: 1rem;
  animation: scroll-end 2s ease infinite;
}

@keyframes scroll-end {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0.2rem);
  }

  100% {
    transform: translateY(0);
  }
}
