.about-name {
  display: inline-block;
  text-align: center;
  background-image: url("../assets/GradientName.png");
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 55px;
  line-height: 104.29%;
  pointer-events: none;
  background-size: 130% 110%;
  background-repeat: repeat;
  background-blend-mode: color-burn;
  animation: gradient 14s ease infinite;
  margin-block: -1.5rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
