.project-block-color-1 {
  background: rgba(235, 28, 210, 0.1);
}

.project-block-color-2 {
  background: rgba(243, 148, 120, 0.1);
}

.project-block-color-3 {
  background: rgba(33, 3, 28, 0.1);
}

.project-block-color-4 {
  background: rgba(240, 182, 87, 0.1);
}

.project-block-color-5 {
  background: rgba(251, 218, 247, 0.1);
}

/* .normal-text {
  color: #21031c !important;
} */

.project-blocks {
  display: grid;
  gap: 1rem;
  text-align: left;
}
.bold {
  font-weight: var(--bold-heading);
  font-size: var(--project-heading);
}

.bold-subheading {
  font-weight: var(--bold-subheading);
}

.bold-content {
  font-weight: var(--bold-content);
}

.size-15px {
  font-size: var(--project-content);
}

.project-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* padding-block-start: 3rem; */
  align-items: left;
  justify-content: left;
}

.p1-button {
  padding: 0.7em 1.5em;
  margin-bottom: 1rem;
  background: rgba(96, 96, 96, 0.3);
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 12px;
  z-index: 1;
  cursor: pointer;
  transition: transform ease 0.2s;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: none;
}

.p1-button:hover {
  transform: translate(0, -3px);
  transition: transform ease 0.2s;
}

.p1-button-color {
  background: rgba(96, 96, 96, 0.3);
}

.p3-button-color {
  background: rgba(96, 96, 96, 0.3);
}

.p3-a {
  color: #fdedfb;
}

.p4-button-color {
  background: rgba(96, 96, 96, 0.3);
}

.p5-button-color {
  background: rgba(96, 96, 96, 0.3);
}

.categories {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 8px;
}

.categories span {
  background: rgba(96, 96, 96, 0.3);
  padding: 1px 10px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 1rem;
  margin: 1px 1px !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.last-2-subheading {
  margin-bottom: 0.9rem;
}

.p-title {
  display: flex;
  justify-content: center;
}

.bold-content img {
  display: none;
}
